/* general */
.family {
  font-family: 'Inter', sans-serif;
  font-style: normal;
}
section {
  display: flex;
}
article {
  display: flex;
}
h3 {
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #3A4A42;
}
button {
  padding: 8px 12px;
  background: #EBF0EE;
  border: none;
  border-radius: 4px;
}


/* header */
#main-head {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

#welcome {
  width: 90px;
  height: 28px;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}

header > a :hover {
  color: #1e488f;
}

/* style main section */
.about-me {
  background: url("../image/mainBackGround.png") no-repeat;
  background-size: contain;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

#icn-menu {
  width: 32px;
  height: 37px;
}

/* style main section's content */
.me {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  max-width: 327px;
  max-height: 192px;
}

.whatIdo {
  display: block;
  color: #36b37e;
}

.paragrph {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
  max-width: 327px;
  max-height: 164px;
}

/* style soccial-media links */
#social-media {
  min-width: 170.17px;
  min-height: 20px;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  list-style-type: none;
}


.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {background-color: #4CAF50;} /* Green */
.button2 {background-color: #008CBA;}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}

/* section 2 : my recent works */

h2 {
  width: 327px;
  height: 97px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
}
.box {
  bottom: 0px;
  width: 327px;
  height: 474px;
  background: #EBF0EE;
  border: 1px solid #D0D9D4;
  border-radius: 8px;
  flex-direction: column;
}

.in-box {
  position: relative;
  background: #FFFFFF;
  border-radius: 8px;
  width: 327px;
  height: 222px;
  top: calc(53%);
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

#recent-works {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}
