/* general */


* {
  font-family: 'Inter', sans-serif;
  font-style: normal;
}

#main {
  flex-direction: column;
}

section {
  display: flex;
}

article {
  display: flex;
  margin-top: 15px;
}

ul {
  list-style-type: none;
}

h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  text-align: center;
  width: 327px;
}

h3 {
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #3a4a42;
  padding: 0;
  margin: 20px 0 20px 0;
}

h4 {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #344563;
  text-align: center;
}

button {
  padding: 8px 12px;
  background: #ebf0ee;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

button :active {
  filter: contrast(60%);
}

a {
  text-decoration: none;
}

.hidden {

  visibility: hidden;
}

.btn-big {
  height: 48px;
  background: #36b37f;
  border-radius: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  margin: 0;
  margin-bottom: 35px;
  cursor: pointer;
}

.btn-big:hover {
  opacity: 0.8;
}

.btn-big :active {
  filter: contrast(60%);
}

.btn-style-2 {
  padding: 12px;
  background: #fff;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  cursor: pointer;
}

.btn-style-2 :hover {
  background-color: #ebf0ee;
  color: #2cb87e;
}

.btn-style-2 :active {
  background-color: #ebeff4;
  color: #008552;
}

input {
  height: 48px;
  width: 327px;
  background: #fff;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  border: 1px solid #60c095;
  border-radius: 4px;
  background: #fff;
  box-sizing: border-box;
  width: 327px;
  margin-bottom: 20px;
}

/* header */
#main-head {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

#deskNav {
  display: none;
}

#welcome {
  width: 90px;
  height: 28px;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}

/* hidden nav menu */
.hiddenNav {
  display: flex;
  position: fixed;
  top: 0;
  left: 100%;
  margin-top: 50px;
  justify-content: left;
  z-index: 98;
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
  transition: 0.4s;
}

.displayhiddenNav {
  left: 0;
}

#hiddenList {
  display: flex;
  flex-direction: column;
  row-gap: 3%;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;

}

.hiddenListContent>a {
  color: #3A4A42;
}

#x-btn {
  position: fixed;
  right: 2.5%;
  transition: transform 2s;
  color: black;
  cursor: pointer;
}

#x-btn:active {
  transform: rotate(180deg);
}

#humburger-btn {
  transition: transform 2s;
}

#humburger-btn:active {
  transform: rotate(-180deg);
}

/* style main section */
.about-me {
  background: url("../image/mainBackGround.png") no-repeat;
  background-position: center;
  background-size: cover;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

#aboutBox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

#icn-menu {
  width: 32px;
  height: 37px;
}

/* style main section's content */
.me {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  max-width: 327px;
  max-height: 192px;
}

.whatIdo {
  display: block;
  color: #36b37e;
}

.paragrph {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
  max-width: 327px;

}

/* style soccial-media links */
#social-media {
  min-width: 170.17px;
  min-height: 20px;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  list-style-type: none;
  margin: 5px;
  padding: 0;
  max-width: 200px;
  max-height: 40px;
}

/* section 2 : my recent works */
#recent-works {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  margin-bottom: 40px;
}

.box {
  bottom: 0;
  width: 320px;
  background: #ebf0ee;
  height: 450px;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  flex-direction: column;
}

.in-box {
  position: relative;
  background: #fff;
  border-radius: 8px;
  width: 320px;
  height: 204px;
  color: #fff;
  top: calc(54.5%);
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#recent-works>h2 {
  margin-top: 0;
}

.box-articles {
  flex-direction: column;
  row-gap: 10px;
  align-content: center;
}

.btn-language1 {
  display: flex;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  column-gap: 9px;
}

/* pop project details */
.projectDetail {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  max-height: 100vh;
  z-index: 99;
  margin-top: 0;
  background-color: #fff;
  overflow-y: scroll;

}

.popupProjectDetail {
  visibility: hidden;
}

#contentProject {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 100%;
  max-height: 100vh;
  background-color: #fff;
  transition: 0.4s;
  margin: 10px;

}

.imageDetail {
  min-width: 100%;
  height: 40%;
}

.titleDetail {
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: #172B4D;
  text-align: left;
}

.descritionDetail {
  height: auto;
  text-align: left;
  min-width: 100%;
}

.btn-liveSource {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0;
  align-content: center;
  column-gap: 5px;
}

.in-btn {
  width: 100%;
  min-height: 48px;
}

#xDisplayProject {
  color: #000;
  position: absolute;
  right: 9%;
  top: 4.5%;
  cursor: pointer;
}

/* #x-btn:active { 
  transform: rotate(180deg);
}

#humburger-btn {
  transition: transform 2s;
}

#humburger-btn:active {
  transform: rotate(-180deg);
} */

/* section 3 : about me */
#about-me {
  flex-direction: column;
  align-items: center;
  height: auto;
  background: url('../image/illustration-\ about\ me-\ mobile.png') 50% -1% no-repeat, url('../image/Mask\ Group.png') 100% -1% no-repeat;
  background-attachment: scroll;
  margin-bottom: 20px;
}

.about-me-header {
  height: auto;
  margin-bottom: 25px;
}

.box-container {
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
  gap: 10px;
}

.sbox {
  border: 1px solid #c1c7d0;
  background: #ebf0ee;
  width: 327px;
  height: 352px;
  justify-content: safe;
  align-items: center;
}

.img-round {
  width: 140px;
  height: 140px;
  margin-bottom: 0;
  margin-top: 20px;
}

.btn-language2 {
  display: flex;
  flex-wrap: wrap;
  gap: 9px;
  justify-content: center;
  margin: 0;
  padding: 0;
}

/* section 3 : contact */

#contact {
  flex-direction: column;
  height: auto;
  justify-content: space-between;
  align-items: center;
  row-gap: 10px;
  background: url("../image/illustration-contact-form.png") no-repeat;
  background-attachment: scroll;
  background-position: 100% 90%;
}

.head-contact {
  justify-items: center;
  height: 363px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  text-align: center;
  width: 327px;
}

.form-contact {
  display: flex;
  flex-direction: column;
  row-gap: 27px;
  align-items: center;
  width: 327px;
}

#indicator {
  margin: 0 auto 50px auto;
}

#mailadress {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
  margin: 0 0 50px 0;
  padding: 0;
  height: 189px;
}

#resume {
  margin: 0;
  margin-bottom: 40px;
}

.ContacMe {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 375px;
  background: url("../image/illustration-contact-form.png") 100% 77% no-repeat;
  background-attachment: scroll;
}

@media screen and (min-width: 900px) {
  h1 {
    margin: 15px 5px;
  }

  h2 {
    width: auto;
  }

  /* header */
  #welcome {
    display: none;
  }

  #deskNav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  #navList {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding: 0;
    align-content: center;
    column-gap: 12px;
  }

  .navLink {
    padding: 0;
    font-size: 10px;
    text-align: center;
    text-decoration: none;
    color: #172b4d;
  }

  #phoneNav {
    display: none;
  }

  .about-me {
    background: url("../image/Action.png") none;
    background-size: 0;
  }

  /* section about me */
  #main {
    background: url("../image/Header-llustration-desktop.svg") no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    padding-bottom: 100px;
  }

  #aboutBox {
    width: 70%;
    height: auto;
  }

  .me,
  .whatIdo {
    display: inline-block;
    max-width: 95%;
    max-height: auto;
    font-weight: 800;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 0.37px;
  }

  .paragrph {
    max-width: 90%;
    max-height: auto;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
  }

  #social-media {
    margin-bottom: 50px;
  }

  /* recent  */
  #indicator {
    display: none;
  }

  .box-articles {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    column-gap: 15px;
  }

  #recent-works {
    margin-bottom: 100px;
  }

  /* about me */
  #about-me {
    margin-bottom: 150px;
    height: 100vh;
    background: url('../image/Desktop/oragamie2.svg') -0.5% 18% no-repeat, url('../image/Desktop/origamie1.svg') 100% -1.1% no-repeat;
    background-attachment: scroll;
    background-size: 15%, 11%;
  }

  .box-container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    column-gap: 15px;
  }

  .about-me-header+p {
    width: 70%;
  }

  /* footer */
  .ContacMe {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 15px;
    width: 100%;
    height: 100vh;
    background: url("../image/Desktop/collone.svg") 100% 5% no-repeat, url("../image/Desktop/pierre.svg") 14% 90% no-repeat, url("../image/Desktop/carre.svg") 0% 90% no-repeat, url(../image/Desktop/Rectangle\ 42.svg) 50% 94% no-repeat;
    background-attachment: scroll;
    background-size: 21.5%, 7%, 10%, 100%;
  }

  .head-contact {
    width: 463px;
    font-weight: 700;
    font-size: 30px;
    line-height: 52px;
    margin-left: 80px;
  }

  .form-contact {
    width: 82%;
    align-items: flex-start;
    margin-bottom: 100px;
  }

  input,
  textarea {
    width: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  #mailadress {
    display: none;
  }

  .ContacMe #social-media {
    grid-column: 2/ span 2;
    margin: 5px 0;
    align-self: flex-end;
    border-top: 1px solid #ebf0ee;
  }
}

@media screen and (min-width: 500px) and (max-width: 900px) {

  /* header */
  #welcome {
    display: none;
  }

  #deskNav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  #navList {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding: 0;
    align-content: center;
    column-gap: 12px;
  }

  .navLink {
    padding: 0;
    font-size: 10px;
    text-align: center;
    text-decoration: none;
    color: #172b4d;
  }

  #phoneNav {
    display: none;
  }

  /* section about me */
  #main {
    background: url("../image/Header-llustration-desktop.svg") no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    padding-bottom: 100px;
  }

  .about-me {
    background: url("../image/Action.png") none;
    background-size: 0;
  }

  #aboutBox {
    width: 70%;
    height: auto;
  }

  .me,
  .whatIdo {
    display: inline-block;
    max-width: 95%;
    max-height: 100%;
    font-weight: 800;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 0.37px;
  }

  .paragrph {
    max-width: 90%;
    max-height: auto;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
  }

  #social-media {
    margin-bottom: 50px;
  }

  /* recent  */
  #indicator {
    display: none;
  }

  #recent-works {
    box-sizing: border-box;
    margin-bottom: 100px;
    align-items: center;
    height: auto;
  }

  .box-articles {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 5px;
    box-sizing: border-box;
  }

  #recent-works>h2 {
    margin: auto;
    width: auto;
    margin-bottom: 25px;
  }

  .box {
    width: 1fr;
    height: 1fr;
  }

  #about-me {
    margin-bottom: 150px;
    height: auto;
    background: url('../image/Desktop/oragamie2.svg') -5% 10% no-repeat, url('../image/Desktop/origamie1.svg') 110% 0% no-repeat;
    background-attachment: scroll;
    background-size: 20%, 20%;
  }

  .box-container {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 5px;
    box-sizing: border-box;
  }

  .about-me-header+p {
    width: 70%;
  }

  /* footer */

  .ContacMe {
    background: url("../image/Desktop/collone.svg") 100% 92% no-repeat, url("../image/Desktop/pierre.svg") 25% 90% no-repeat, url("../image/Desktop/carre.svg") 0% 90% no-repeat;
    background-attachment: scroll;
    background-size: 20%, 12%, 16%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
    width: auto;
    height: 100vh;
  }

  .head-contact {
    box-sizing: border-box;
    font-weight: 700;
    font-size: 30px;
    line-height: 52px;
  }

  .form-contact {
    box-sizing: border-box;
    align-items: flex-start;
    margin-bottom: 100px;
  }

  input,
  textarea {
    box-sizing: border-box;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  #mailadress {
    display: none;
  }

  .ContacMe #social-media {
    grid-column: 2/ span 2;
    margin: 5px 0;
    align-self: flex-end;
    border-top: 1px solid #ebf0ee;
  }
}

.transition1 {
  transition: width 2s, height 2s;
}

.transition1:hover {
  width: 150%;
  height: 150%;
}