.section-works {
  animation: fadeInUp 2s 2s;
  animation-fill-mode: forwards;
  clear: both;
  background:
    url(https://res.cloudinary.com/dhko6cdgf/image/upload/v1704552051/josephIo/Images/Decoration/Desktop/d3vfrzhxre3sawpm0z2k.svg) 0% 110% no-repeat,
    url(https://res.cloudinary.com/dhko6cdgf/image/upload/v1704556807/josephIo/Images/Decoration/Desktop/kttadlef6o87r9lcyr0k.png) 50% 50% no-repeat,
    url(https://res.cloudinary.com/dhko6cdgf/image/upload/v1704552054/josephIo/Images/Decoration/Desktop/mpsnvpigqmelwpkmht5r.svg) 68% 75% no-repeat;

  .ul-works {
    height: 75vh;
    overflow: hidden;
    overflow-y: auto;
    background-color: rgb(2, 55, 115, 0.1);
    padding: 1.5rem 0.8rem;
    border-radius: 0.2rem;
  }
}
