@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;600;700;800&family=Poppins:wght@200;300;500;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Dosis', sans-serif;
  }

  .full-container {
    @apply min-h-full min-w-full bg-transparent;
  }

  section {
    @apply flex flex-col justify-around p-12 xs:px-0;
  }

  h1 {
    @apply xs:text-8xl md:text-8xl text-center text-gray-300 font-bold md:w-[40rem];
  }

  h2 {
    @apply text-4xl my-2 text-green-100 tracking-tight leading-10 font-bold sm:text-5xl sm:leading-none md:text-6xl uppercase;
  }

  h3 {
    @apply text-gray-300;
  }

  .title {
    @apply transition duration-0 hover:duration-150;
  }

  .bg-object {
    @apply bg-gradient-to-r from-cyan-500 to-blue-500
      hover:bg-gradient-to-r hover:from-blue-500 hover:to-cyan-500;
  }
  .contact_me{
    @apply w-fit border-0 m-auto bg-blue-800/30 shadow-sm shadow-blue-900/10 hover:shadow-lg hover:bg-blue-700
    hover:shadow-lime-500/50 text-white py-2 px-4 rounded
    dark:bg-blue-800/30 dark:shadow-sm dark:shadow-cyan-500/10 dark:hover:bg-blue-700
    dark:hover:shadow-cyan-500/50
  }

  .stage-cube-cont {
    @apply absolute left-[263px] top-[83px] w-[59%] h-[59%] block;
  }
}
